<div class="row">
  <div class="col-md-6">
    <h3>AM Git+Bash</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigate</a></td> </tr>
      <tr> <td>08:45</td>  <td>Files & Directories (http://swcarpentry.github.io/shell-novice/03-create/index.html)</td> </tr>
      <tr> <td>09:00</td>  <td>Break</td> </tr>
      <tr> <td>09:10</td>  <td>Files and Directories continued</td> </tr>
      <tr> <td>09:45</td>  <td>Pipes & Filters (http://swcarpentry.github.io/shell-novice/02-filedir/index.html)</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:10</td>  <td>Why git (http://swcarpentry.github.io/git-novice/01-basics/index.html)</td> </tr>
      <tr> <td>10:15</td>  <td>Setup (http://swcarpentry.github.io/git-novice/02-setup/index.html)
</td> </tr>
      <tr> <td>10:20</td>  <td>Create (http://swcarpentry.github.io/git-novice/03-create/index.html)</td> </tr>
      <tr> <td>10:30</td>  <td>Tracking (http://swcarpentry.github.io/git-novice/04-changes/index.html)</td> </tr>
      <tr> <td>10:50</td>  <td>Exploring (http://swcarpentry.github.io/git-novice/05-history/index.html)</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td> Exploring continued, Ignoring or remotes if time (http://swcarpentry.github.io/git-novice/06-ignore/index.html, http://swcarpentry.github.io/git-novice/07-github/index.html)</td> </tr>
      <tr> <td>11:55</td>  <td>Adjourn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>PM Intermediate R</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Intro</td> </tr>
      <tr> <td>13:05</td>  <td>Review intro R</td> </tr>
      <tr> <td>13:30</td>  <td>Git integration with RStudio</td> </tr>
      <tr> <td>13:40</td>  <td>Subsetting Data (R for repro, but skip subsetting factors and matrices (http://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html)</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:10</td>  <td>Continuing Subsetting Data (http://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html)</td> </tr>
      <tr> <td>14:40</td>  <td> Control/Flow (http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html)</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:10</td>  <td>Continuing Control/Flow</td> </tr>
      <tr> <td>15:50</td>  <td>Vectorization (http://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html)</td> </tr>
      <tr> <td>16:00</td>  <td>Break</td> </tr>
      <tr> <td>16:10</td>  <td>Continue vectorization</td> </tr>
      <tr> <td>16:20</td>  <td>Plotting (http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html)</td> </tr>
      <tr> <td>16:55</td>  <td>Adjourn</td> </tr>
    </table>
  </div>
</div>
