<div class="row">
  <div class="col-md-6">
    <h3>AM Git+Bash</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigate</a></td> </tr>
      <tr> <td>08:45</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Files & Directories</a></td> </tr>
      <tr> <td>09:00</td>  <td>Break</td> </tr>
      <tr> <td>09:10</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Files & Directories</a> continued</td> </tr>
      <tr> <td>09:45</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Pipes & Filters</a></td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:10</td>  <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html">Why git</a></td> </tr>
      <tr> <td>10:15</td>  <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html">Setup</a></td> </tr>
      <tr> <td>10:20</td>  <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html">Create</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking</a></td> </tr>
      <tr> <td>10:50</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring</a> continued, <a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html">Ignoring</a> or <a href="http://swcarpentry.github.io/git-novice/07-github/index.html">remotes</a> if time</td> </tr>
      <tr> <td>11:55</td>  <td>Adjourn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>PM Intermediate R</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Intro</td> </tr>
      <tr> <td>13:05</td>  <td><a href="https://swcarpentry.github.io/git-novice/14-supplemental-rstudio/index.html">Git integration with RStudio</a></td> </tr>
      <tr> <td>13:20</td>  <td><a href="https://rpubs.com/jtvanleuven/647713">Review intro R</a></td> </tr>
      <tr> <td>13:40</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a> (R for repro, but skip subsetting factors and matrices</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:10</td>  <td>Continuing <a href="http://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a> </td> </tr>
      <tr> <td>14:40</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control/Flow</a></td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:10</td>  <td>Continuing <a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control Flow</a></td> </tr>
      <tr> <td>15:50</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html">Vectorization</a></td> </tr>
      <tr> <td>16:00</td>  <td>Break</td> </tr>
      <tr> <td>16:10</td>  <td>Continue <a href="http://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html">vectorization</a></td> </tr>
      <tr> <td>16:20</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Plotting</a></td> </tr>
      <tr> <td>16:55</td>  <td>Adjourn</td> </tr>
    </table>
  </div>
</div>
